@{
    ViewBag.Title = "About";
}

@*<section class="section-info">
    <div class="container">
        <div class="row">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</section>*@

<!-- Home - Header -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="home-header dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-10">
                <h2 class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.5s">CFA & CMA Courses in Egypt</h2>
                <p class="large wow fadeInUp" data-wow-delay="1.8s" data-wow-duration="1.5s">Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam </p>
                <!--				<a class="btn btn-primary btn-short">Get srarted now</a>
                                                <a class="btn btn-warning btn-short">Discover More</a>				-->
                <div class="row wow fadeInUp" data-wow-delay="2.6s" data-wow-duration="1.5s">
                    <div class="col-md-5">
                        <a class="btn btn-primary btn-short" href="cfa.html">Check CFA Course</a>
                    </div>
                    <div class="col-md-5">
                        <a class="btn btn-warning btn-short" href="cma.html">Check CMA Course</a>
                    </div>
                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>