<!-- Home - Header -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="home-header dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-10">
                <h2 class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.5s">CFA & CMA Courses in Egypt</h2>
                <p class="large wow fadeInUp" data-wow-delay="1.8s" data-wow-duration="1.5s">Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam Klam klam </p>
                <!--				<a class="btn btn-primary btn-short">Get srarted now</a>
                                                <a class="btn btn-warning btn-short">Discover More</a>				-->
                <div class="row wow fadeInUp" data-wow-delay="2.6s" data-wow-duration="1.5s">
                    <div class="col-md-5">
                        <a class="btn btn-primary btn-short" href="cfa.html">Check CFA Course</a>
                    </div>
                    <div class="col-md-5">
                        <a class="btn btn-warning btn-short" href="cma.html">Check CMA Course</a>
                    </div>
                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>

<!-- Home - About -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="about-product" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header">
                    <p class="subhead">Why Financial Brains Training Center</p>
                    <h2>CFA & CMA Courses in Egypt</h2>
                </header>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-3 col-sm-offset-1 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <h5>Mobile version</h5>
                    <p>We can send you the materials to check on your mobile device.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-offset-1 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <div class="tline"></div>
                    <h5>Affordable price</h5>
                    <p>We have the best prices in Egypt, as we are the 1st Training Center in Egypt provide these courses.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-offset-1 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <h5>Be Certified</h5>
                    <p>You will get a certification from one of the best training centers in Egypt</p>
                </article>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="/assets/images/placehold/1140x400.gif" alt="pic" />
            </div>
        </div><!--row-->
    </div><!--container-->
</section>

<!-- Home - Features -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="features dark  parallax-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="2s">
                <article>
                    <span aria-hidden="true" class="icon-trophy"></span>
                    <h5>We are #1 in Egypt</h5>
                    <p>We are the 1st Training Center provide such courses.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <span aria-hidden="true" class="icon-users"></span>
                    <h5>Comunicating </h5>
                    <p>We meet the ongoing needs of the investment industry</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <span aria-hidden="true" class="icon-speedometer"></span>
                    <h5>Speed</h5>
                    <p>This program infuses the latest technology</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <article>
                    <span aria-hidden="true" class="icon-shield"></span>
                    <h5>You will NOT finish until you get Experience</h5>
                    <p>You will not finish our programm until you have good experience.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <article>
                    <span aria-hidden="true" class="icon-graduation"></span>
                    <h5>Knowledge</h5>
                    <p>This program prepares candidates for the CMA and CFA exam</p>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <span aria-hidden="true" class="icon-layers"></span>
                    <h5>Course Levels</h5>
                    <p>This program is divided into three levels.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <article>
                    <span aria-hidden="true" class="icon-support"></span>
                    <h5>Participation</h5>
                    <p>Participation in an organized program can compliment the self-study</p>
                </article>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>

<!-- Home - Steps -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="steps" id="section-steps">
    <a class="striped-icon divider scroll" href="#section-steps">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header wow fadeInUp" data-wow-duration="2">
                    <p class="subhead">How to join us</p>
                    <h2>Three Simple Steps</h2>
                    <p class="large">If you need to join our courses in Financial Brains, You have to make JUST 3 steps.</p>
                </header>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-4 wow fadeInUp " data-wow-duration="2s">
                <article>
                    <div class="striped-icon-small">1</div>
                    <img src="/assets/images/icons/icon-1.png" alt="icon" />
                    <h5>Visit Financial Brain Website</h5>
                    <p>Give us a visit to our website from your PC or Tablet.</p>
                </article>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <article>
                    <div class="striped-icon-small">2</div>
                    <img src="/assets/images/icons/icon-2.png" alt="icon" />
                    <h5>Check your prefered course</h5>
                    <p>Now you have to check the course you need to be certified in, then contact us</p>
                </article>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                <article>
                    <div class="striped-icon-small">3</div>
                    <img src="/assets/images/icons/icon-3.png" alt="icon" />
                    <h5>You are DONE!</h5>
                    <p>Now you are wellcomed to join our programm.</p>
                </article>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>

<!-- Home - Analytics-->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="analytics" id="services">
    <a class="striped-icon divider scroll" href="#services">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">Some Statistics about us</p>
                    <h2>Detailed Analytics About Financial Brains</h2>
                    <p class="large">klam klaam klam klaam klam klaam klam klaam klam klaam klam klaam klam klaam klam klaam klam klaam </p>
                </header>
            </div>
        </div><!--row-->

        <div class="row">
            <div class="col-md-6   wow fadeInUp" data-wow-duration="2s">
                <div id="accordion-one" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default panel-alt-two">

                        <div class="panel-heading active" role="tab" id="headingOne">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-one" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="accordion-icon">
                                        <span class="stacked-icon">
                                            <i class="fa fa-rocket"></i>
                                        </span>
                                    </span>
                                    By organising team buildings
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                We do play a lot, but we also work hard and like to challenge ourselves with proposing new projects that will further better our skills and connect us as a team. We value continuous education and professional growth, encourage attending conferences as well as hold internal lectures.
                            </div>
                        </div>

                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="accordion-icon">
                                        <span class="stacked-icon">
                                            <i class="fa fa-quote-left"></i>
                                        </span>
                                    </span>
                                    We are also each others extended family
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                We do play a lot, but we also work hard and like to challenge ourselves with proposing new projects that will further better our skills and connect us as a team. We value continuous education and professional growth, encourage attending conferences as well as hold internal lectures.
                            </div>
                        </div>

                        <div class="panel-heading" role="tab" id="headingThree">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                    Explore further even when you believe
                                    <span class="accordion-icon">
                                        <span class="stacked-icon">
                                            <i class="fa fa-flag"></i>
                                        </span>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                We do play a lot, but we also work hard and like to challenge ourselves with proposing new projects that will further better our skills and connect us as a team. We value continuous education and professional growth, encourage attending conferences as well as hold internal lectures.
                            </div>
                        </div>
                    </div><!--panel-->
                </div><!--accordion-->
            </div>
            <div class="col-md-6">
                <div id="graph-line"></div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>

<!-- Hot Offers Section -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="wrap-laptop" id="laptop">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">Financial Brains Hot Offers</p>
                    <h2>Check our Hot Offers</h2>
                    <p class="large">This is our Hot Offers section to check it.</p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <div class="laptop-item wow fadeInUp" data-wow-duration="2s">
                    <div class="striped-icon-large">
                        <span aria-hidden="true" class="icon-check"></span>
                    </div>
                    <h5>Offer Name</h5>
                    <p>Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details </p>
                </div>

            </div>
            <div class="col-md-8 wow fadeInUp" data-wow-duration="2s">
                <img class="img-responsive" src="/assets/images/placehold/880x500.gif" alt="" />
            </div>
        </div>
    </div>
</section>



<!-- Home - Gallery -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="gallery" id="gallery">
    <a class="striped-icon divider scroll" href="#gallery">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header   wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">gallery</p>
                    <h2>Our Photo Gallery</h2>
                    <p class="large">This is Financial Brains from inside.</p>
                </header>
            </div>
        </div><!--row-->
    </div><!--container-->



    <div id="gallery-items" class="gallery-items wow fadeInUp" data-wow-duration="2s">
        <figure class="gallery-item office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item team">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item wide office double">
            <img src="/assets/images/placehold/384x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/384x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item wide team  double">
            <img src="/assets/images/placehold/384x384.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/384x384.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item wide workplace office double">
            <img src="/assets/images/placehold/384x384.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/384x384.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace  office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace team">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item office">
            <img src="/assets/images/placehold/192x384.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x384.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item wide workplace double">
            <img src="/assets/images/placehold/384x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/384x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace team">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item team office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
    </div>
    <div class="gallery-load">
        <button type="button" class="btn btn-info">Load more</button>
    </div>

</section>



<!-- Home - Testimonials -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="testimonials" id="testimonials">
    <a class="striped-icon divider scroll" href="#testimonials">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">about reviews</p>
                    <h2>What Clients Say?</h2>
                    <p class="large">Some of our clients reviews about Financial Brains, and why they choose us</p>
                </header>
            </div>
        </div><!--row-->

        <div id="testimonials-carousel">
            <div class="reviews">
                <div class="client left">
                    <p class="large comment">Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam . </p>
                    <div class="media">
                        <div class="media-left">
                            <a href="#fakelink">
                                <img class="avatar media-object " src="/assets/images/placehold/60x60.gif" alt="avatar" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Mohamed Ragab</h5>
                            <p>Web designer</p>
                        </div>
                    </div>
                </div>
                <div class="client right">
                    <p class="large comment">Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam  </p>
                    <div class="media">
                        <div class="media-left">
                            <a href="#fakelink">
                                <img class="avatar media-object " src="/assets/images/placehold/60x60.gif" alt="avatar" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Mohamed Usama</h5>
                            <p>WebDesigner</p>
                        </div>
                    </div>
                </div>
            </div><!--reviews-->
            <div class="reviews">
                <div class="client left">
                    <p class="large comment">Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam </p>
                    <div class="media">
                        <div class="media-left">
                            <a href="#fakelink">
                                <img class="avatar media-object " src="/assets/images/placehold/60x60.gif" alt="avatar" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Remond</h5>
                            <p>Web designer</p>
                        </div>
                    </div>
                </div>
                <div class="client right">
                    <p class="large comment">Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam </p>
                    <div class="media">
                        <div class="media-left">
                            <a href="#fakelink">
                                <img class="avatar media-object " src="/assets/images/placehold/60x60.gif" alt="avatar" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Samer</h5>
                            <p>Developer</p>
                        </div>
                    </div>
                </div>
            </div><!--reviews-->
        </div><!--carousel-->

        <div class="brands">
            <div class="row no-gutter">
                <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                    <div class="brand-logo">
                        <a class="brand-logo-wrap" href="#fakelink">
                            <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                    <div class="brand-logo">
                        <a class="brand-logo-wrap" href="#fakelink">
                            <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                    <div class="brand-logo">
                        <a class="brand-logo-wrap" href="#fakelink">
                            <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                    <div class="brand-logo">
                        <a class="brand-logo-wrap" href="#fakelink">
                            <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                    <div class="brand-logo">
                        <a class="brand-logo-wrap" href="#fakelink">
                            <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                    <div class="brand-logo">
                        <a class="brand-logo-wrap" href="#fakelink">
                            <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                    <div class="brand-logo">
                        <a class="brand-logo-wrap" href="#fakelink">
                            <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                    <div class="brand-logo">
                        <a class="brand-logo-wrap" href="#fakelink">
                            <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                        </a>
                    </div>
                </div>
            </div><!--row-->
        </div><!--brands-->
    </div><!--container-->
</section>



<!-- Home - Blog -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="blog" id="blog">
    <a class="striped-icon divider scroll" href="#blog">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header  wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">Our blog</p>
                    <h2>Be Aware of News</h2>
                    <p class="large">Check our latest News about Financial Brains Courses</p>
                </header>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-4  wow fadeInUp" data-wow-duration="2s">
                <div class="post">
                    <div class="post-heading">
                        <a class="post-image" href="#fakelink">
                            <img src="/assets/images/placehold/360x230.gif" alt="post" />
                        </a>
                        <a class="post-avatar" href="#fakelink">
                            <img class="" src="/assets/images/placehold/80x80.gif" alt="avatar" />
                        </a>
                    </div>
                    <div class="post-body">
                        <ul class="list-inline">
                            <li><i class="fa fa-user"></i>Doaa </li>
                            <li><i class="fa fa-calendar"></i>12 Sep 20</li>
                        </ul>
                        <a href="#"><h5>CFA Course</h5></a>
                        <p>Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  wow fadeInUp" data-wow-duration="2s">
                <div class="post">
                    <div class="post-heading">
                        <a class="post-image" href="#fakelink">
                            <img src="/assets/images/placehold/360x230.gif" alt="post" />
                        </a>
                        <a class="post-avatar" href="#fakelink">
                            <img class="" src="/assets/images/placehold/80x80.gif" alt="avatar" />
                        </a>
                    </div>
                    <div class="post-body">
                        <ul class="list-inline">
                            <li><i class="fa fa-user"></i>Ragab</li>
                            <li><i class="fa fa-calendar"></i>12 Sep 20</li>
                        </ul>
                        <a href="#"><h5>Harum odio veniam hic ipsa</h5></a>
                        <p>Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  wow fadeInUp" data-wow-duration="2s">
                <div class="post">
                    <div class="post-heading">
                        <a class="post-image" href="#fakelink">
                            <img src="/assets/images/placehold/360x230.gif" alt="post" />
                        </a>
                        <a class="post-avatar" href="#fakelink">
                            <img class="" src="/assets/images/placehold/80x80.gif" alt="avatar" />
                        </a>
                    </div>
                    <div class="post-body">
                        <ul class="list-inline">
                            <li><i class="fa fa-user"></i>Usama</li>
                            <li><i class="fa fa-calendar"></i>12 Sep 20</li>
                        </ul>
                        <a href="#"><h5>Maiores saepe amet asperiores</h5></a>
                        <p> Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam </p>
                    </div>
                </div>
            </div>

        </div><!--row-->


    </div><!--container-->
</section>







@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@