@using Microsoft.AspNet.Identity
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="@Url.Action("Index", "Manage")"><i class="fa fa-gear fa-fw"></i> Manage</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out fa-fw"></i> Log off</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
