<section class="about-product" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header">
                    <p class="subhead">Why Financial Brains Training Center</p>
                    <h2>CFA & CMA Courses in Egypt</h2>
                </header>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-3 col-sm-offset-1 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <h5>Mobile version</h5>
                    <p>We can send you the materials to check on your mobile device.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-offset-1 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <div class="tline"></div>
                    <h5>Affordable price</h5>
                    <p>We have the best prices in Egypt, as we are the 1st Training Center in Egypt provide these courses.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-offset-1 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <h5>Be Certified</h5>
                    <p>You will get a certification from one of the best training centers in Egypt</p>
                </article>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="/assets/images/placehold/1140x400.gif" alt="pic" />
            </div>
        </div><!--row-->
    </div><!--container-->
</section>
