<section class="analytics" id="services">
    <a class="striped-icon divider scroll" href="#services">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">Some Statistics about us</p>
                    <h2>Detailed Analytics About Financial Brains</h2>
                    <p class="large">klam klaam klam klaam klam klaam klam klaam klam klaam klam klaam klam klaam klam klaam klam klaam </p>
                </header>
            </div>
        </div><!--row-->

        <div class="row">
            <div class="col-md-6   wow fadeInUp" data-wow-duration="2s">
                <div id="accordion-one" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default panel-alt-two">

                        <div class="panel-heading active" role="tab" id="headingOne">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-one" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="accordion-icon">
                                        <span class="stacked-icon">
                                            <i class="fa fa-rocket"></i>
                                        </span>
                                    </span>
                                    By organising team buildings
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                We do play a lot, but we also work hard and like to challenge ourselves with proposing new projects that will further better our skills and connect us as a team. We value continuous education and professional growth, encourage attending conferences as well as hold internal lectures.
                            </div>
                        </div>

                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="accordion-icon">
                                        <span class="stacked-icon">
                                            <i class="fa fa-quote-left"></i>
                                        </span>
                                    </span>
                                    We are also each others extended family
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                We do play a lot, but we also work hard and like to challenge ourselves with proposing new projects that will further better our skills and connect us as a team. We value continuous education and professional growth, encourage attending conferences as well as hold internal lectures.
                            </div>
                        </div>

                        <div class="panel-heading" role="tab" id="headingThree">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                    Explore further even when you believe
                                    <span class="accordion-icon">
                                        <span class="stacked-icon">
                                            <i class="fa fa-flag"></i>
                                        </span>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                We do play a lot, but we also work hard and like to challenge ourselves with proposing new projects that will further better our skills and connect us as a team. We value continuous education and professional growth, encourage attending conferences as well as hold internal lectures.
                            </div>
                        </div>
                    </div><!--panel-->
                </div><!--accordion-->
            </div>
            <div class="col-md-6">
                <div id="graph-line"></div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>
