<section class="blog" id="blog">
    <a class="striped-icon divider scroll" href="#blog">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header  wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">Our blog</p>
                    <h2>Be Aware of News</h2>
                    <p class="large">Check our latest News about Financial Brains Courses</p>
                </header>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-4  wow fadeInUp" data-wow-duration="2s">
                <div class="post">
                    <div class="post-heading">
                        <a class="post-image" href="#fakelink">
                            <img src="/assets/images/placehold/360x230.gif" alt="post" />
                        </a>
                        <a class="post-avatar" href="#fakelink">
                            <img class="" src="/assets/images/placehold/80x80.gif" alt="avatar" />
                        </a>
                    </div>
                    <div class="post-body">
                        <ul class="list-inline">
                            <li><i class="fa fa-user"></i>Doaa </li>
                            <li><i class="fa fa-calendar"></i>12 Sep 20</li>
                        </ul>
                        <a href="#"><h5>CFA Course</h5></a>
                        <p>Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  wow fadeInUp" data-wow-duration="2s">
                <div class="post">
                    <div class="post-heading">
                        <a class="post-image" href="#fakelink">
                            <img src="/assets/images/placehold/360x230.gif" alt="post" />
                        </a>
                        <a class="post-avatar" href="#fakelink">
                            <img class="" src="/assets/images/placehold/80x80.gif" alt="avatar" />
                        </a>
                    </div>
                    <div class="post-body">
                        <ul class="list-inline">
                            <li><i class="fa fa-user"></i>Ragab</li>
                            <li><i class="fa fa-calendar"></i>12 Sep 20</li>
                        </ul>
                        <a href="#"><h5>Harum odio veniam hic ipsa</h5></a>
                        <p>Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  wow fadeInUp" data-wow-duration="2s">
                <div class="post">
                    <div class="post-heading">
                        <a class="post-image" href="#fakelink">
                            <img src="/assets/images/placehold/360x230.gif" alt="post" />
                        </a>
                        <a class="post-avatar" href="#fakelink">
                            <img class="" src="/assets/images/placehold/80x80.gif" alt="avatar" />
                        </a>
                    </div>
                    <div class="post-body">
                        <ul class="list-inline">
                            <li><i class="fa fa-user"></i>Usama</li>
                            <li><i class="fa fa-calendar"></i>12 Sep 20</li>
                        </ul>
                        <a href="#"><h5>Maiores saepe amet asperiores</h5></a>
                        <p> Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam Klaam </p>
                    </div>
                </div>
            </div>

        </div><!--row-->


    </div><!--container-->
</section>
