<section class="features dark  parallax-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="2s">
                <article>
                    <span aria-hidden="true" class="icon-trophy"></span>
                    <h5>We are #1 in Egypt</h5>
                    <p>We are the 1st Training Center provide such courses.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <span aria-hidden="true" class="icon-users"></span>
                    <h5>Comunicating </h5>
                    <p>We meet the ongoing needs of the investment industry</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <span aria-hidden="true" class="icon-speedometer"></span>
                    <h5>Speed</h5>
                    <p>This program infuses the latest technology</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <article>
                    <span aria-hidden="true" class="icon-shield"></span>
                    <h5>You will NOT finish until you get Experience</h5>
                    <p>You will not finish our programm until you have good experience.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <article>
                    <span aria-hidden="true" class="icon-graduation"></span>
                    <h5>Knowledge</h5>
                    <p>This program prepares candidates for the CMA and CFA exam</p>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s">
                <article>
                    <span aria-hidden="true" class="icon-layers"></span>
                    <h5>Course Levels</h5>
                    <p>This program is divided into three levels.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <article>
                    <span aria-hidden="true" class="icon-support"></span>
                    <h5>Participation</h5>
                    <p>Participation in an organized program can compliment the self-study</p>
                </article>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>
