<section class="gallery" id="gallery">
    <a class="striped-icon divider scroll" href="#gallery">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header   wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">gallery</p>
                    <h2>Our Photo Gallery</h2>
                    <p class="large">This is Financial Brains from inside.</p>
                </header>
            </div>
        </div><!--row-->
    </div><!--container-->



    <div id="gallery-items" class="gallery-items wow fadeInUp" data-wow-duration="2s">
        <figure class="gallery-item office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item team">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item wide office double">
            <img src="/assets/images/placehold/384x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/384x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item wide team  double">
            <img src="/assets/images/placehold/384x384.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/384x384.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item wide workplace office double">
            <img src="/assets/images/placehold/384x384.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/384x384.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace  office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace team">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item office">
            <img src="/assets/images/placehold/192x384.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x384.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item wide workplace double">
            <img src="/assets/images/placehold/384x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/384x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace team">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item team office">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
        <figure class="gallery-item workplace">
            <img src="/assets/images/placehold/192x192.gif" alt="gallery" />
            <figcaption>
                <a class="fancybox" href="/assets/images/placehold/192x192.gif"><span aria-hidden="true" class="icon-plus"></span></a>
                <a href="#fakelink"><span aria-hidden="true" class="icon-info"></span></a>
            </figcaption>
        </figure>
    </div>
    <div class="gallery-load">
        <button type="button" class="btn btn-info">Load more</button>
    </div>

</section>
