<section class="wrap-laptop" id="laptop">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">Financial Brains Hot Offers</p>
                    <h2>Check our Hot Offers</h2>
                    <p class="large">This is our Hot Offers section to check it.</p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <div class="laptop-item wow fadeInUp" data-wow-duration="2s">
                    <div class="striped-icon-large">
                        <span aria-hidden="true" class="icon-check"></span>
                    </div>
                    <h5>Offer Name</h5>
                    <p>Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details Offer Details </p>
                </div>

            </div>
            <div class="col-md-8 wow fadeInUp" data-wow-duration="2s">
                <img class="img-responsive" src="/assets/images/placehold/880x500.gif" alt="" />
            </div>
        </div>
    </div>
</section>
