@model eRAMO.FB.Web.Models.Home.OfferModel
<section class="wrap-laptop" id="laptop">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header wow fadeInUp" data-wow-duration="2s">
                    <p class="subhead">Financial Brains Hot Offers</p>
                    <h2>Check our Hot Offers</h2>
                    <p class="large">This is our Hot Offers section to check it.</p>
                </header>
            </div>
        </div>
        @foreach (var item in Model.GetOffers())
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="laptop-item wow fadeInUp" data-wow-duration="2s">
                        <div class="striped-icon-large">
                            <span aria-hidden="true" class="icon-check"></span>
                        </div>
                        <h5>@item.Title</h5>
                        <p>@item.Detail</p>
                    </div>

                </div>
                <div class="col-md-8 wow fadeInUp" data-wow-duration="2s">
                    <img class="img-responsive" src="../../../Photos/@item.image" alt="" />
                </div>
            </div>
            <br/>
        }
    </div>
</section>
