<section class="steps" id="section-steps">
    <a class="striped-icon divider scroll" href="#section-steps">
        <i class="fa fa-chevron-down"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="section-header wow fadeInUp" data-wow-duration="2">
                    <p class="subhead">How to join us</p>
                    <h2>Three Simple Steps</h2>
                    <p class="large">If you need to join our courses in Financial Brains, You have to make JUST 3 steps.</p>
                </header>
            </div>
        </div><!--row-->
        <div class="row">
            <div class="col-md-4 wow fadeInUp " data-wow-duration="2s">
                <article>
                    <div class="striped-icon-small">1</div>
                    <img src="/assets/images/icons/icon-1.png" alt="icon" />
                    <h5>Visit Financial Brain Website</h5>
                    <p>Give us a visit to our website from your PC or Tablet.</p>
                </article>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <article>
                    <div class="striped-icon-small">2</div>
                    <img src="/assets/images/icons/icon-2.png" alt="icon" />
                    <h5>Check your prefered course</h5>
                    <p>Now you have to check the course you need to be certified in, then contact us</p>
                </article>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                <article>
                    <div class="striped-icon-small">3</div>
                    <img src="/assets/images/icons/icon-3.png" alt="icon" />
                    <h5>You are DONE!</h5>
                    <p>Now you are wellcomed to join our programm.</p>
                </article>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>
